@model Gameflix.Areas.Cyberpunk2077.Models.Season1

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Season1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.episodeNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.episodeNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Video)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Video)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Season1Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
