@model IEnumerable<Gameflix.Areas.Users.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2 class="white-font">Index</h2>

<p>
    <a href="@Url.Action("Create", "Users", new { area = "Users" })" class="btn btn-primary card-btn center-content center width">Create</a>
</p>
<table class="table">
    <tr>
        <th class="white-font">
            @Html.DisplayNameFor(model => model.Username)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="white-font">
            @Html.DisplayFor(modelItem => item.Username)
            <br />
            <a href="@Url.Action("Delete", "Users", new { id = item.UserId })" class="btn btn-primary card-btn center-content center width">Delete</a>
            <br />
            <a href="@Url.Action("Edit", "Users", new { id = item.UserId })" class="btn btn-primary card-btn center-content center width">Change Password</a>
        </td>
    </tr>
}

</table>
